<h1>Bienvenido, {{user.first_name}} {{user.last_name}}!</h1>
<p>Has iniciado sesión correctamente.</p>
<form action="/api/sessions/logout" method="POST">
    <button type="submit"> Logout </button>
</form>